<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
		<title>{{ page.title }}</title>
		
		<link rel='icon' href='{{ site.url }}/icon.png' type='image/png'/>

		<link rel='stylesheet' type='text/css' href='{{ site.url }}/css/default.css'/>
		<link rel='stylesheet' type='text/css' href='{{ site.url }}/css/syntax.css'/>
		<!--[if IE]>
			<link rel='stylesheet' type='text/css' href='{{ site.url }}/css/IE.css'/>
		<![endif]-->

		{% for css in page.css_files %}
			<link rel='stylesheet' type='text/css' href='{{ site.url }}/css/{{ css }}.css'/>
		{% endfor %}
	</head>
	<body>
		<div class="content">
			{{ content }}
		</div>
	</body>
</html>
